<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Edit Room</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Available Rooms</h2>
    <form th:action="@{/admin/ar/update/{id}(id=${ar.id})}" th:object="${ar}" method="post">
        <div class="modal-body">
            <div class="form-group">
                <label for="roomNumber">Name</label>
                <input type="text" class="form-control" id="roomNumber" th:field="*{roomNumber}" placeholder="Enter room number" required>
            </div>
            <div class="form-group ml-4">
                <input type="checkbox" class="form-check-input" id="occupied" th:field="*{occupied}">
                <label for="occupied" class="form-check-label">Occupied</label>
            </div>
            <div class="form-group">
                <label for="room">Room Type</label>
                <select class="form-control" id="room" th:field="*{room.id}" required>
                    <option value="">Select a Room Type</option>
                    <!-- The rooms variable should be a list of all Room objects -->
                    <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <a href="/admin/ars" class="btn btn-secondary">Close</a>
            <button type="submit" class="btn btn-primary">Update Room</button>
        </div>
    </form>

</div>
<!-- Confirmation Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to update this ar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmButton">Update Room</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $("#confirmButton").click(function() {
            $("form").submit();
        });
    });
</script>
</body>
</html>
