<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Process Payment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="pages/landing">Amazing</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/pages/landing">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h2>Pay here</h2>
    <form th:action="@{/booking/save-booking}" th:object="${payment}" method="post">
        <!-- form fields go here -->
        <div class="modal-body">
            <div class="form-group">
                <label for="cardOwner">Card Holder (e.g J Doe)</label>
                <input type="text" class="form-control" id="cardOwner" th:field="*{cardOwner}" placeholder="Card holder as seen on card" pattern="[A-Za-z]+" title="Alphabetical characters only" required />
            </div>
            <div class="form-group">
                <label for="creditCardNumber">Card number (16 digits)</label>
                <input type="text" class="form-control" id="creditCardNumber" th:field="*{creditCardNumber}" placeholder="16 digit card number" pattern="\d{16}" title="Exactly 16 digits" required />
            </div>
            <div class="form-group">
                <label for="cardType">Card Type</label>
                <select class="form-control" id="cardType" th:field="*{cardType}" required>
                    <option disabled selected >Select a Hotel</option>
                    <!-- The hotels variable should be a list of all Hotel objects -->
                    <option value="American Express">American Express</option>
                    <option value="VISA">VISA</option>
                    <option value="Master Card">Master Card </option>
                </select>
            </div>
            <div class="form-group">
                <label for="expiryDate">Expiry Date ( e.g. 02/26 )</label>
                <input type="text" class="form-control" id="expiryDate" th:field="*{expiryDate}"  pattern="(0[1-9]|1[0-2])\/\d{2}" title="Enter date in MM/YY format" placeholder="Enter date in MM/YY format" required>
            </div>
            <div class="form-group">
                <label for="cvv">CVV Number (3 digits)</label>
                <input type="number" class="form-control" id="cvv" th:field="*{cvv}" placeholder="Enter phone number" pattern="\d{3}" title="Exactly 3 digits" required>
            </div>
        </div>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmModal">Book Now</button>
        <div class="modal-footer">
            <a href="/admin/hotels" class="btn btn-secondary">Close</a>
        </div>
    </form>
</div>
<!-- Confirmation Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure Pay for room?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmButton">Update Room</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $("#confirmButton").click(function() {
            $("form").submit();
        });
    });
</script>
</body>
</html>
