<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Select Hotel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="pages/landing">Amazing</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/pages/landing">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h3>Select Hotel Room</h3>

    <!-- Room Types Table -->
    <div class="mt-4">
        <h5>Room Types</h5>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Hotel Name</th>
                <th scope="col">Select room</th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop through room  -->
            <tr th:each="room : ${rooms}">
                <td th:text="${room.name}">Single</td>
                <td th:text="${room.description}">One bed...</td>
                <td th:text="${room.price}">R500.00</td>
                <td th:text="${room.hotel.name + ' (' + room.hotel.location + ')'}">hotel1</td>
                <td>
                    <a th:href="@{/booking/storeRoomToSession/{id}(id=${room.id})}" class="btn btn-success btn-sm">Select</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="modal-footer">
            <a href="/booking/hotels" class="btn btn-secondary">Close</a></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
